@font-face {
  font-family: Prata;
  font-style: normal;
  src: url("~@/assets/fonts/Prata/Prata-Regular.ttf");
}
@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  src: url("~@/assets/fonts/Quicksand/Quicksand-Regular.ttf");
}
@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 100;
  src: url("~@/assets/fonts/Quicksand/Quicksand-Light.ttf");
}
@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 200;
  src: url("~@/assets/fonts/Quicksand/Quicksand-Medium.ttf");
}
@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  src: url("~@/assets/fonts/Quicksand/Quicksand-Bold.ttf");
}
body {
  font-family: "Quicksand";
  font-weight: normal;
  background: $bgColor;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata";
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: goldenrod;
}

input {
  font-family: "Quicksand";
  padding: 5px;
  font-size: 1.1em;
  outline: none;
  background: #EEE;
  border: 0;
}

label {
  font-weight: bold;
}

button {
  outline: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.7em;
  min-width: 25px;
  background-color: #00000008;
  border: 0;
  border-radius: 2px;
  padding: 10px;
  height: 32px; /* mesma altura do input com padding */
  transition: all 300ms;
  &.fab { 
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
  }
  &.success {
    background-color: rgb(9, 168, 9);
    &:hover {
        background: rgba($color: rgb(9, 168, 9), $alpha: 0.7);
    }
    
  }
  &.danger {
    background: rgb(209, 90, 77);
    &:hover {
        background: rgba($color: rgb(209, 90, 77), $alpha: 0.7);
    }
  }
  &.warning {
    background: rgb(184, 145, 39);
    &:hover {
        background: rgba($color: rgb(184, 145, 39), $alpha: 0.7);
    }
  }
  &.info {
    background: rgb(43, 152, 199);
    &:hover {
        background: rgba($color: rgb(43, 152, 199), $alpha: 0.7);
    }
  }
}

.error {
  text-align: center;
  font-size: 0.8em;
  width: 50%;
  margin: 0 auto;
  color: red;
  padding: 5px 0;
  margin-bottom: 10px;
  font-weight: bold;
}

// Vue Transitions
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transition: all 0.5s;
}
.fade-move {
  transition: transform 300ms;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  div {
    position: relative;
    margin: 15vh auto 0 auto;
    width: 50%;
    background: $bgColor;
    padding: 30px;
    border-radius: 2px;
    form {
      display: grid;
    }

  }

  input,
  label {
    margin-bottom: 10px;
  }
  button,
  label {
    margin-top: 10px;
  }
  .fechar {
    margin: 0;
    width: auto;
    text-align: right;
    position: absolute;
    right: 10px;
    transform: translateY(-20px);
    cursor: pointer;
  }
}

// MOBILE
@media screen and (max-width: 1100px) {
  .container {
    display: block !important;
  }
  .adicionar {
    margin: 0;
    button {
      width: 30%;
      position: relative;
      margin-right: 0 !important;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    div {
      width: 100%;
    }
    input {
      margin-bottom: 10px;
      box-sizing: border-box;
    }
  }
  .user {
    padding: 0 !important;
  }
}
@media screen and (max-width: 750px) {
  .container {
    width: 90% !important;
    .adicionar {
      margin-right: 0 !important;
    }
  }
  .modal {
    // width: auto !important;
  }
  .lista {
    font-size: 0.9em;
  }
  .fechar {
    // transform: translateY(-40px) !important;
    padding: 0 !important;
  }
}

@media screen and (max-width: 340px) {
  .lista {
    font-size: 0.7em !important;
  }
}
